*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.btn{
    background-color:  #469165;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 600px;
    text-decoration: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    margin-right: 120px;


}

header{
    background-color: #FFFFFF;


}

nav{
    width: 93%;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 139px;
    padding: 16px;
    margin-left: 120px;

}

nav .menu{
    display: flex;
    align-items: center;
    gap: 32px;
    list-style-type: none;
    
}

nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;

}

.header-content{
    /* text-align: center;
    /* margin-top: 115.5px; */
    /* background-image: url(./images/hero-bg.png);
    padding: 0%; */ 
     /* width: 1360px; */
    margin: 0 auto;
    text-align: center;
    padding: 115.5px 120px 179.5px 0px;
    /* max-width: 1360px; */
   background-image: url(./images/hero-bg.png);
   
}

.header-content p{
    font-size: 16px;
    font-weight: 500;
    /* background-color: #FFFFFF; */
    margin-bottom: 16px;
}

.header-content .color{
    color: #30B868;
    margin-bottom: 16px;
    
}

.header-content .content {
    align-content: center;
    margin-bottom: 32px;
    margin-left: 120px;
    margin-right: 120px;
}


.header-content .button{
    font-size: 16px;
    font-weight: 600;
    padding: 16.5px 16px 16.5px 46px;
}

.header-content .btn {
    padding: 16.5px 46px 16.5px 16px;
}

.section-heading{
   text-align: center;
   margin-top: 30px;
}

#card .card-info {
   display: flex;
   align-items: center;
   text-align: center;
   margin: 196px 120px 48px 120px;

}

.brain{
    display: flex;
    align-items: center;
    
}

.brain-img{
    margin-right: 60px;
    margin-left: 120px;
}

.label{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-top: 30px;
    margin-bottom: 16px;

}


.brain-text h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.brain-text .text{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
   
}

.brain-text ul {
    list-style-type:none;
    margin-bottom: 16px;
    vertical-align: middle;
    gap: 16px;
}

.brain-text .li{
    margin-bottom: 16px;
    color: #001931;

}

.section{
    text-align: center;
    margin-top: 120px;
}

.section h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.section p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 24px;
    text-align: center;
    width: 1280px;
    
}

.section button{
    background-color: #469165;
    color: #FFFFFF;
    padding: 16.5px 46px 16.5px 16px;
    margin-bottom: 16px;
}

/* .footer-content{
    display: flex;
    justify-content: space-between;
    background-color: #001931;
    margin-top: 200px;
    color: #FFFFFF;
    padding: 120px 120px 30px 120ppx;
    background-size: 100%;
    
} */

.footer-content{
    /* Footer */
width: 100%;
height: 348px;
/* Auto layout */
display: flex;
/* flex-direction: column; */
justify-content: space-between;
/* align-items: center; */
/* gap: 80; */
padding: 120px 120px 30px 120px;
background-color: #001931;
margin: 120px 0px 0px 0px;
padding: 120px 120px 40px 120px;



}

/* Footer */




.footer-copy p{
    text-align: center;
    background-color: #001931;
    color: #FFFFFF;
    color: rgba(250, 250, 250, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    text-align: center;




    
    
    
}

.footer-menu ul{
    /* margin-right: 227px; */
    margin-right: 120px;
    
    color: #FFFFFF;
    /* padding: 120px 227px 200px 1140px; */
    
   




}

.section .p2{
    margin-bottom: 200pz;
}

.footer-logo img{
    /* fi_15563377 */
width: 139px;
height: 60px;
margin-left: 120px;
}